<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>站内信</title>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btn-submit").click(function () {
                var form = $("#regform");
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    dataType: "json",
                    beforeSend: function () {
                    },
                    error: function () {
                        alert("注册失败，请检查输入！");
                    },
                    complete: function () {
                        ;
                    },
                    success: function (data) {
                        if(data.code==0){
                            location.href="/auth/page-login";
                            return;
                        }
                        alert(data.message);
                    }
                });
            });
            $("#chk_readed").click(function(){
                if($(this).is(':checked')){
                    $("#btn-submit").removeAttr("disabled");
                }else{
                    $("#btn-submit").attr("disabled",'disabled');
                }
            });
        });
    </script>

    <title>注册 - 家教系统</title>
</head>

<body>
    <header th:replace="common/model::header">头部</header>

    <!--简单用户注册页面，需要改-->

    <div class="container">
        <div class="tile">
            <h1 class="tile-title">用户注册</h1>
            <div class="tile-body">
                <form id="regform" th:action="@{/auth/reg}" method="POST">
                    <div class="form-group row">
                        <label class="control-label col-3">用户名</label>
                        <div class="col-8">
                            <input name="name" class="form-control" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3">密码</label>
                        <div class="col-8">
                            <input name="password" class="form-control" type="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3">再次输入密码</label>
                        <div class="col-8">
                            <input name="password2" class="form-control" type="password" placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3">请选择注册的用户类型</label>
                        <div class="col-8">
                            <div class="form-check animated-radio-button">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="usertype" value="1">
                                    <span class="label-text">学生</span>
                                </label>
                            </div>
                            <div class="form-check animated-radio-button">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="usertype" value="2">
                                    <span class="label-text">家长</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="animated-checkbox">
                            <label>
                                <input type="checkbox" id="chk_readed"><span class="label-text">我已阅读并同意<a href="/WURSA.pdf">《最终用户服务协议》</a></span>
                            </label>
                        </div>
                    </div>
                    <input type="submit" style="display: none;">
                </form>
                <div class="tile-footer">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-3">
                            <button id="btn-submit" class="btn btn-primary" disabled><i
                                    class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>
                            <button type="reset" class="btn btn-secondary ml-2"><i
                                    class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common/model::footer">页脚</footer>
    <!-- Essential javascripts for application to work-->
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
</body>

</html>