<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/wangEditor.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            jQuery.ajaxSetup({
                "beforeSend": function (request) {
                    request.setRequestHeader(
                    /*[[${_csrf.headerName}]]*/"${_csrf.headerName}",
                    /*[[${_csrf.token}]]*/"${_csrf.token}"
                    );
                }
            });
            $('#birthday').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true
            });
            var E = window.wangEditor
            var editor = new E('#introduce')
            editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                $("#text-introduce").val(html);
            }
            editor.create()
            $("#btn-logout").click(function () {
                //退出登录要用post方法，用form提交是为了省事
                //虽然后来找到了更好的方法，但我懒得改
                //“又不是不能用”
                //^_^
                if (!confirm("是否退出登录？")) {
                    return;
                }
                $("#form-logout").submit();
            });
            $("#btn-submit").click(function () {
                var form = $("#form-info");
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    dataType: "json",
                    beforeSend: function (xhr) {
                    },
                    error: function () {
                        alert("提交失败，请检查输入！");
                    },
                    complete: function () {
                        alert("更新成功");
                        location.reload();
                    },
                    success: function (data) {
                        alert(data.message);
                    }
                });
            });
            $("#a_editavatar").click(function () {
                $("#file_avatar").click();
                $("#file_avatar").change(function () {
                    var data = new FormData();
                    var files = $('#file_avatar').prop('files');
                    data.append('file', files[0]);
                    data.append('x', 128);
                    data.append('y', 128);
                    data.append('mode', 2);
                    $.ajax({
                        type: 'POST',
                        url: "/file/up",
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (ret) {
                            if (ret.code == 0) {
                                $("#img_avatar").attr('src', ret.content);
                                $.post(
                                    "/user/"
                                    +/*[[${#authentication.name}]]*/"admin"
                                    + "/avatar",{
                                        avatar:ret.content
                                    }
                                );
                            } else {
                                alert(ret.msg);
                            }
                        }
                    }).fail(function () {
                        alert("文件上传失败，请检查网络！");
                    });                
                    $("#file_avatar").replaceWith($("#file_avatar").prop('outerHTML'));
                });
            });
        });
    </script>

    <title>用户信息 - 家教系统</title>
</head>

<body>
    <header th:replace="common/model::header">头部</header>

    <!--退出登录只接受post请求，并且要带csrf的roken-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <h4 class="card-header" th:text="${#authentication.name+'的个人中心'}">Card header</h4>
                    <div class="card-body">
                        <img id="img_avatar" style="height: 128px; width: 128px;; display: block;"
                            th:src="@{/file/down/{avatar}(avatar=${userinfo.avatar})}" alt="Card image"></div>
                    <div class="card-body">
                        <a id="a_editavatar" class="card-link" href="javascript:;">修改头像</a>
                    </div>
                    <form enctype="multipart/form-data">
                        <input type="file" id="file_avatar" style="display:none;">
                    </form>
                </div>
                <div class="bs-component mt-3">
                    <div class="list-group text-center">
                        <a class="list-group-item list-group-item-action active" href="javascript:;">基本资料</a>
                        <a class="list-group-item list-group-item-action" href="#">安全中心</a>
                        <a class="list-group-item list-group-item-action" href="/letter/mailbox">站内信箱</a>
                    </div>
                    <button id="btn-logout" class="btn btn-danger w-100 mt-2">退出登录</button>
                    <form id="form-logout" method="POST" th:action="@{/auth/logout}">
                        <input type="submit" style="display:none;">
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tile">
                    <div class="tile-body">
                        <form id="form-info" method="POST" th:action="@{{username}/update(username=${#authentication.name})}">
                    <h4 class="line-head">Information</h4>
                    <div class="form-group">
                        <label class="control-label">姓名</label>
                        <input name="name" class="form-control" placeholder="请输入姓名" th:value="${userinfo.name}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">性别</label>
                        <div class="form-check animated-radio-button">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="sex" value="男" th:checked="${userinfo.sex == '男'}"><span
                                    class="label-text">男</span>
                            </label>
                        </div>
                        <div class="form-check animated-radio-button">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="sex" value="女" th:checked="${userinfo.sex == '女'}"><span
                                    class="label-text">女</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">出生日期</label>
                        <!--vali-Admin的日期选择控件，生日应只能选择今天以前的日期-->
                        <input id="birthday" name="birthday" type="text" class="form-control" data-date-end-date="0d"
                            placeholder="点击选择出生日期" th:value="${#dates.format(userinfo.birthday, 'MM/dd/yyyy')}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">身份证号</label>
                        <input name="cardid" class="form-control" placeholder="请输入身份证号" th:value="${userinfo.cardid}">
                    </div>
                    <!--未来得及删掉-->
                    <div class="form-group d-none">
                        <label class="control-label">头像</label>
                        <input name="avatar" class="form-control" th:value="${userinfo.avatar}">
                    </div>
                    <textarea name="introduce" id="text-introduce" style="display: none;"></textarea>
                    <div class="form-group">
                        <label class="control-label">个人说明</label>
                        <div id="introduce" th:utext="${userinfo.introduce}"></div>
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                <button id="btn-submit" class="btn btn-primary">提交修改</button>
                <!-- <button id="btn-logout" class="btn btn-danger ml-2">退出登录</button> -->
            </div>
        </div>
    </div>

    <footer th:replace="common/model::footer">页脚</footer>

    <!-- Essential javascripts for application to work-->
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="/js/plugins/bootstrap-datepicker.min.js"></script>
</body>

</html>