<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/wangEditor.min.js"></script>
    <script th:replace="common/model::#common_jquery_csrf">/*jquery ajax的csrf header*/</script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#btn-submit").click(function () {
                var form = $("#form-info");
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    dataType: "json",
                    beforeSend: function (xhr) {
                    },
                    error: function () {
                        alert("提交失败，请检查输入！");
                    },
                    complete: function () {
                        alert("更新成功");
                        location.reload();
                    },
                    success: function (data) {
                        alert(data.message);
                    }
                });
            });
            $("#a_editavatar").click(function () {
                $("#file_avatar").click();
                $("#file_avatar").change(function () {
                    var data = new FormData();
                    var files = $('#file_avatar').prop('files');
                    data.append('file', files[0]);
                    data.append('x', 128);
                    data.append('y', 128);
                    data.append('mode', 2);
                    $.ajax({
                        type: 'POST',
                        url: "/file/up",
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (ret) {
                            if (ret.code == 0) {
                                $("#img_avatar").attr('src', ret.content);
                                $.post(
                                    "/user/"
                                    +/*[[${#authentication.name}]]*/"admin"
                                    + "/avatar", {
                                        avatar: ret.content
                                    }
                                );
                            } else {
                                alert(ret.msg);
                            }
                        }
                    }).fail(function () {
                        alert("文件上传失败，请检查网络！");
                    });
                    $("#file_avatar").replaceWith($("#file_avatar").prop('outerHTML'));
                });
            });
        });
    </script>

    <title>安全中心</title>
</head>

<body>
    <header th:replace="common/model::header">头部</header>

    <!--退出登录只接受post请求，并且要带csrf的roken-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <h4 class="card-header" th:text="${#authentication.name+'的个人中心'}">Card header</h4>
                    <div class="card-body">
                        <img id="img_avatar" class="img-fluid" 
                            th:src="@{/file/down/{avatar}(avatar=${userinfo.avatar})}" alt="Card image"></div>
                    <div class="card-body">
                        <a id="a_editavatar" class="card-link" href="javascript:;">修改头像</a>
                    </div>
                    <form enctype="multipart/form-data">
                        <input type="file" id="file_avatar" style="display:none;">
                    </form>
                </div>
                <div class="bs-component mt-3">
                    <div class="list-group text-center">
                        <a class="list-group-item list-group-item-action active" href="javascript:;">基本资料</a>
                        <a class="list-group-item list-group-item-action" th:href="@{/user/{username}/security(username=${#authentication.name})}">安全中心</a>
                        <a class="list-group-item list-group-item-action" href="/letter/mailbox">站内信箱</a>
                    </div>
                    <button id="btn-logout" class="btn btn-outline-danger w-100 mt-2">退出登录</button>
                    <form id="form-logout" method="POST" th:action="@{/auth/logout}">
                        <input type="submit" style="display:none;">
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tile">
                    <div class="tile-body">
                    </div>
                    <div class="tile-footer">
                    <button id="btn-submit" class="btn btn-primary">提交修改</button>
                    <!-- <button id="btn-logout" class="btn btn-danger ml-2">退出登录</button> -->
                </div>
            </div>
            
        </div>
    </div>

    <footer th:replace="common/model::footer">页脚</footer>

    <!-- Essential javascripts for application to work-->
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="/js/plugins/bootstrap-datepicker.min.js"></script>
</body>

</html>