<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>账户绑定</title>
</head>

<body>
    <header th:replace="common/model::header">头部</header>

    <main class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">账号绑定</h3>
                <p class="lead" th:text="${text}">This is a modified jumbotron that occupies the entire horizontal space
                    of
                    its
                    parent.</p>
                <p class="lead" sec:authorize="!isAnonymous()">
                    <a th:href="@{/user/{username}(username=${#authentication.name})}" class="btn btn-primary">回到用户中心</a>
                </p>
            </div>
        </div>
    </main>

    <footer th:replace="common/model::footer">页脚</footer>
    <!-- Essential javascripts for application to work-->
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="/js/plugins/bootstrap-datepicker.min.js"></script>
</body>

</html>